.home-container {
  position: relative;
  height: 100vh; 
  width: 100vw; 
  padding: 0px;
  background-image: url('../assets/banner-home.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0; 
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.menu-container {
  position: absolute;
}

.menu-logo {
  width: 25px; 
  height: auto;
}

@media (max-width: 768px) {
  .home-container {
    padding: 15px;
  }
}

@media (max-width: 480px) {
  .home-container {
    padding: 10px;
  }
}