.barra-menu {
    position: fixed;
    display: flex;
    justify-items: flex-end;
    top: 0;
    right: 0;
    padding: 15px 30px;
}

.barra-menu h1 {
    color: white;
    position: fixed;
    display: flex;
    justify-items: center;
    top: 0;
    left: 0;
    padding-left: 50px;
}

.notificacoes {
    display: flexbox;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border-radius: 50px;
    box-shadow: none;
    height: 135px;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    box-sizing: border-box;
}