h2 {
    text-align: center;
    color: black;
}

.form-container {
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    padding: 60px;
    border-radius: 50px;
    box-shadow: none;
    width: 450px;
    height: auto;
    margin-right: 0;
    margin-left: auto;
    box-sizing: border-box;
}

.input.login .MuiInputBase-input {
    border: 2px solid #330A34;
    border-radius: 50px;
    padding: 10px;
}

.input.login .MuiInputBase-input:focus {
    border-color: #330A34;
    border-radius: 50px;
}


.form-container a {
    font-size: 12px;
    color: #04724D;
}

button[type="submit"] {
    background-color: #330A34;
    color: #ffffff;
}

button[type="submit"] {
    background-color: #330a34;
    color: #ffffff;
    display: flex;
    justify-content: center;
    text-transform: capitalize;
    font-weight: bold;
    width: 45%;
    padding: 10px;
    margin: 0 auto;
    border-radius: 30px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #330A34;
}

.mensagem-erro {
    align-items: center;
    justify-content: center;
    padding: 10px;
}